.Camera {
  position: fixed;
  perspective: 100vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Map {
  width: 100%;
  height: 140%;

  image-rendering: pixelated;
  
  transform-style: preserve-3d;
  transform-origin: 0 0 0;
  transform: rotateX(45deg);

  transition: transform .5s linear;
}

.leaflet-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0);
}
.leaflet-control-attribution,
.leaflet-control-zoom {
  display: none;
}

.me {
  position: absolute;
  z-index: 400;
  left: 50%;
  top: 50%;
  
  transform-style: preserve-3d;
  transform-origin: 0 100% 0;
  transform: translate(-50%, -100%) rotateX(-45deg);

  overflow: hidden;
  /* transition: left .25s linear, top .25s linear; */
  
  /* border: 1px solid red; */
}
.me > img {
  position: absolute;
  
  /* border: 1px solid red; */
}
.me-name {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 100%;
  transform: translate(-50%,20%);
  background: rgba(255, 255, 255, 0.375);
  font-size: 1.25em;
  padding: 0 2px;
  border-radius: 3px;
  
  /* border: 1px solid red; */
}
.me-name > span > span {
  line-height: 100%;
  padding-left: 5px;
  font-size: 0.8em;
}
